body{
	text-align: center;
}


h1,h2,h3{
	font-family: 'Montserrat', sans-serif;
}

.coloured-section{
	background-color: #ff4c68;
	color: #fff;
}


/* Title section */

.container-fluid{
	padding: 3% 15% 7%;
}

.navbar{
	padding: 0 0 4.5rem;
}

.nav-item{
	padding: 0 20px;
}
.nav-link{
	font-size: 1.2rem;
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.title-heading{
	font-size: 4rem;
	font-weight: bold;
	line-height: 1.5;

}

.download-btn{
	margin: 8% 5% 2% 0;
}

.title-img{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
		
}

.title-content-align{
	text-align: left;
}

/*** features ***/

#features{
	padding: 8% 15%;
	background-color: #fff;
	position: relative;

}

.features-box{
	
	padding: 4%;
}

.features-heading{
	font-size: 1.75rem;
	font-weight: bold;
}

.features-text{
	color: #81818f;
}
.features-img{
	margin-bottom: 15px;
	color: #ef8172;
}

.features-img:hover{
	color: #ff4c68;
}

/* Testimonial section */


#testimonials{
	background-color: #ef8172;
	color: #fff;
}
.testimonial-heading{
	font-weight: bold;
	font-size: 2.5rem;

}

.testimonial-img{
	width: 15%;
	border-radius: 100%;
	margin: 20px 20px 10px 10px;
}
.carousel-inner{
	padding: 8% 15%;

}


/* Press section */

#press{
	background-color: #ef8172;
	padding-bottom: 5%;
}
.press-img{
	width: 200px;
	margin: 15px 50px ;
}

/* Pricing section */

#pricing{
	padding: 100px;
}

.pricing-cards{
	padding: 3% 2%;
}

.pricing-card-heading{
	ont-size: 1.75rem;
	font-weight: bold;

}

.pricing-text{
	Font-weight: bold;
	font-size: 2.5rem;
}

/* Call to action section */

#cta{
	padding: 5% 25% 8%;
}
.cta-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.5;
}

/* footer*/

#footer{
	padding: 8% 8% 6% 8%;
	background-color: #fff;
}

.footer-img{
	margin-right: 18px;
	margin-bottom: 25px;
}


/* media query */

@media (max-width: 1000px){
	#title{
		text-align: center;
	}

	.title-img{
		position: static;
		transform: rotate(0);

	}
}